out/*

!out/build/
out/build/*

!out/build/x64-debug/
out/build/x64-debug/*

!out/build/x64-debug/src/
out/build/x64-debug/src/*

!out/build/x64-debug/src/Debug/
out/build/x64-debug/src/Debug/*

!out/build/x64-debug/src/Debug/Addons

out/build/x64-debug/src/Debug/Addons/*/__pycache__/

.vscode/*